<div class="n">
    <app-nav></app-nav>
    <br>
    <h1 class="text-center">About Me</h1>
    <br>
    <div class="co">
       <a href=" https://www.facebook.com/abhi.mn.9461"><i class="fab fa-facebook-square"></i></a><a href=" https://instagram.com/abhi.mn.9461"><i class="fab fa-instagram-square"></i></a><a href=" https://www.linkedin.com/in/abhilash-m-n-36557121b"><i class="fab fa-linkedin"></i></a><a routerLink="/contact"><i class="fas fa-envelope"></i></a>
    </div>
    <br>
    <h5 class="text-center s">I'm Abhilash and Web Developer</h5>
    <br>
    <p class="text-center">Im' expertise is to create and design website and create Ecommerce Websites and many more...</p>
    <p class="text-center">I have completed BE in Government Engineering College, Ramanagar is a technical institute , It is affiliated to Visvesvaraya Technological University, Belagavi Karnataka is a state in the south western region of India
    <br>
    <div>
          
        <p class="text-center o"><b> Skills : -  HTML , CSS , JS , BOOTSTRAP ,ANGULAR , NODE ,PHP, MYSQL , MONGODB  </b></p>
      </div>
    <br><br>
    <div class="container">
        <h5 class="my-2 n"> <b>Personal   Info...</b></h5>
        <div class="row">
            <div class="col-6">
                <h6>Birthday : <span>18 oct 1997</span></h6>
                <hr>
                <h6>websiteUrl : - <a href="https://abhimn.heroku.com/" class="anker">abhimn.heroku.com</a></h6>
                <hr>
                <h6>Degree : <span>BE</span></h6>
                <hr>
                <h6>City : <span>Bangalore</span></h6>
                <hr>
            </div>
            <div class="col-6">
                <h6>Age : <span>23</span></h6>
                <hr>
                <h6>Email : - <span>abhilashmn888@gmail.com</span></h6>
                <hr>
                <h6 class="hp">Phone : <span>+91 9741838611 </span></h6>
                <hr>
                <h6>Freelnace : <span>Available</span></h6>
                <hr>
            </div>
        </div>
    </div>
    </div>