<app-nav></app-nav>
<section class="service section" id="services">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Services</h2>
      </div>
    </div>

    <div class="ro">
      <div class="s card my-2">
        <div class="service-item-inner">
          <div class="icon text-center">
            <i class="fa fa-laptop-code hh"></i>
          </div>
          <br>
          <h4 class="text-center my-2">Web Design</h4>
          <p class="text-center jjj">Web Design using CSS and Bootstrap Animation and angular Projects angular materials, frentend Responsive web design</p>
         <br>
        </div>
      </div>
   
       <div class="card my-3">
        <div class="service-item-inner">
          <div class="icon text-center i">
           <h6 class="r"><b>MEAN</b></h6>
          </div>
          <h4 class="text-center my-2">Ecomerse Websites MEAN-Stack</h4>
           <p class="text-center"> Online Shopping Website,Create an Online Store online shopping improve business Next Steps</p>
          <br>
          </div>
      </div>
      
       <div class="card my-3">
        <div class="service-item-inner">
          <div class="icon text-center">
            <i class="fab fa-node ja"></i>
          </div>
          <br>
          <h4 class="text-center">Full Stack developer NodeJS</h4>
          <p class="text-center">Complete website using Node and  Pug template engine, ejs  template engine</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>