
<app-nav></app-nav>
<br>
<br>
<div class="in text-center">

  <div class="my-5">
  <figure>
        <iframe src="https://www.youtube.com/embed/tQl2aLXE12M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
  </figure>
  <h4>E-comerse website</h4>
  <p>these is show how to restaurant maintain menu and order food user</p>
  </div>

  <div class="my-5">
  <figure>
      <iframe  src="https://www.youtube.com/embed/ZAKSVszlDmw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
<h4>Burger-App</h4>
 <p>these is the responsive burger shop app frent-end developed</p>
  </div>

  <div class="my-5">
<figure>
    <iframe  src="https://www.youtube.com/embed/JHW2sG64V2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</figure>
<h4>portfolio Website</h4>
<p>these Showing websites visitor count see my portfolio</p>
</div>

</div>

