<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand hs" routerLink="/">Abhilash M N</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"><i class="fas fa-home"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"(click)=" about()"><i class="fas fa-user"></i>About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"(click)="port()"><i class="fab fa-vimeo"></i>Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"(click)="service()"><i class="fas fa-server"></i>Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"(click)="contact()"><i class="fas fa-envelope"></i>Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  